{
    "env": {
        "node": true
    },
    "extends": ["airbnb-base", "prettier"],
    "parserOptions": {
        "ecmaVersion": 2018
    },
    "plugins": ["prettier"],
    "root": true,
    "rules": {
        "class-methods-use-this": [0],
        "prettier/prettier": ["error"],
        "strict": [0, "global"],
        "no-underscore-dangle": 0
    }
  }